<div class="container">
  <div class="row">
    <h1><%= @cocktail.name %></h1>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2>Ingredients</h2>
      <% @cocktail.doses.each do |dose| %>
      <div class="list-inline">
          <li>
            <p><%= dose.ingredient.name %> : <%= dose.description %></p>
          </li>
          <li>
            <%= link_to dose_path(dose), method: :delete do %>
              <i class="fas fa-times"></i>
            <% end %>
          </li>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Description</h2>
      <p><%= @cocktail.description %></p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Recipe</h2>
      <p><%= @cocktail.recipe %></p>
    </div>
  </div>

  <div class="row">
    <h3><%= link_to 'All cocktails', cocktails_path %></h3>
  </div>
</div>
