<!DOCTYPE html>
<html>
  <head>
    <title>CocktailList</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Cabin:500,700|Roboto:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="content">
      <% unless action_name == "home" %>
        <%= render 'layouts/navbar' %>
      <% end %>
      <%= yield %>
      <div class="push"></div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
