<div class='home-header'>
  <%= render 'navbar-home' %>
  <%= render 'banner' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Hello world !</h1>
    </div>
  </div>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <p><%= cocktail.name %></p>
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
